/* Variables */

/* Styles */
body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-weight: 300;
}

.thumbnail {
  width: 2rem;
  height: 2rem;
}

.delete-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.page- {
  &button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75rem;
    margin: 0.25rem;
    cursor: pointer;
    &:disabled {
      background-color: #dcdcdc;
      cursor: not-allowed;
    }
  }
  &select {
    padding: 0.4rem;
    margin: 0.3rem;
  }
}
